*{
    font-family: "Jost", sans-serif;
    font-weight: 500
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.bouncing-ball {
    width: 70%;
    height: 80rem;
    border-radius: 50%;
    /* background-color: #3490dc; */
  
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }